@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: "#272625";
  --secondary: "#fcfefa";
  --accent: "#9a8b78";
  --neutral: "#3c3c3c";
  --base-100: "#b0a495";
  --info: "#60584E";
  --success: "#9cc400";
  --warning: "#ffad00";
  --error: "#ff2a63";
}

@layer components {
  .container {
    @apply mx-auto my-36 max-sm:w-[92%];
  }

  .gapped {
    @apply gap-12;
  }

  .title {
    @apply text-2xl font-semibold uppercase xl:text-5xl;
  }
  .btn {
    @apply flex h-14 w-40 items-center justify-center border-2 border-base-100 bg-accent text-base font-semibold text-primary transition duration-150 ease-in-out max-lg:mx-auto lg:h-16 lg:w-60 lg:hover:bg-primary lg:hover:text-secondary;
  }

  .btn2 {
    @apply flex h-12 w-32 items-center justify-center border-2 border-base-100 bg-accent text-sm font-semibold text-primary transition duration-150 ease-in-out lg:w-48 lg:hover:bg-primary lg:hover:text-secondary;
  }

  .not-bordered {
    @apply border-0;
  }

  .bordered {
    @apply border-[1px] border-base-100;
  }

  .container-padding {
    @apply py-20;
  }
  .hero-header {
    @apply bordered h-20 md:h-32 w-60 md:w-96 bg-accent bg-opacity-80 shadow-lg;
  }
}

@layer base {
  h1 {
    @apply my-3 flex items-center justify-center text-center text-3xl font-semibold max-lg:w-[95%] md:text-5xl;
  }
  h2 {
    @apply my-2 text-center text-xl font-medium max-lg:w-[80%] md:text-3xl;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
  /* font-family: "Montserrat", sans-serif !important; */
}

body {
  font-weight: 300;
}

.contact-home textarea {
  resize: none;
  @apply h-20;
}

.contact-home input,
.contact-home textarea {
  padding: 2px 5px;
  @apply bordered w-full border-secondary bg-primary text-sm outline-none md:w-96;
}

.contact-home input[name="lname"],
.contact-home input[name="fname"] {
  padding: 2px 5px;
  @apply md:w-[186px];
}

.contact-home input:-webkit-autofill,
.contact-home textarea:-webkit-autofill {
  background-color: var(--primary);
}

.contact-home label {
  @apply place-self-start text-xs text-secondary;
}

/* .contact-contact input,
.contact-contact textarea {
} */

.contact-icon {
  @apply text-4xl;
}

iframe:focus {
  outline: none;
}

.hero1 {
  object-position: 0 55%;
}
.hero3 {
  object-position: 0 40%;
}

@media (max-width: 1280px) {
  .hero1 {
    object-position: 20% 0;
  }


}

@media (max-width: 680px) {
  .hero1 {
    object-position: 60% 0;
  }
  .hero3 {
    object-position: 10% 0px;
  }
}